* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ecf0f1;
    color: #245482;
    line-height: 1.6;
}


header {
    background: #245482;
    padding: 15px 50px;
    color: #b0c4c8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #b0c4c8;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

header nav a:hover {
    color: #ffffff;
}


.me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 8%;
    font-size: 18px;
}

.about_text h2 {
    font-size: 40px;
    font-weight: bold;
}

.title {
    font-size: 55px;
    color: #2d3436;
    margin: 10px 0;
}


.my_img img {
    width: 280px;
    border-radius: 50%;
    transition: 0.4s;
}

.my_img img:hover {
    transform: scale(1.05);
}



.about, .skills, .projects, .contact{
    padding: 40px 8%;
}

.about h2, .skills h2, .projects h2, .contact h2 {
    font-size: 28px;
    margin-bottom: 15px;
}


.skill_box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.skill {
    width: 30%;
    background: #245482;
    color: #b0c4c8;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.skill span {
    font-size: 12px;
    opacity: 0.8;
}

.skill:hover {
    background: #ffffff;
    transform: translateY(-5px);
}

.projects {
    padding: 40px 8%;
}

.projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.card {
    width: 70%;
    margin: 0 auto 40px auto;
    background: #245482;
    border-radius: 12px;
    padding: 40px 20px;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.437);
    min-height: 220px;    
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    background: #ffffff;
}

.text h3 {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #b0c4c8;
}

.text p {
    font-size: 18px;
    color: #b0c4c8;
}


.form {
  width: 330px;
    background: #245482;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,);
    margin: 20px auto;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 3px solid #000000;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    color: #b0c4c8;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background: #000000;
}

@media (max-width: 850px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .skill-box {
        flex-direction: column;
    }

    .skill {
        width: 100%;
        margin-bottom: 15px;
    }
}
.copyright{
    background-color: #245482;
    color: #b0c4c8;
    text-align: center;
}
.copyright {
    padding: 40px 8%;
}
.back-to-home{
        position:fixed;
        right:22px;
        bottom:22px;
        background:#245482;
        color:#b0c4c8;
        text-decoration:none;
        border:none;
        border-radius:8px;
        padding:10px 18px;
        font-weight:700;
      }